{{ xGovukPrimaryNavigation({
  visuallyHiddenTitle: "Navigation",
  items: [{
    text: "Overview",
    href: "/overview",
    current: primaryNavId == 'overview'
  }, {
    text: "Organisations",
    href: "/organisations",
    current: primaryNavId == 'organisations'
  }, {
    text: "Datasets",
    href: "/datasets",
    current: primaryNavId == 'datasets'
  }, {
    text: "Users",
    href: "/users",
    current: primaryNavId == 'users'
  }, {
    text: "Performance",
    href: "/performance",
    current: primaryNavId == 'performance'
  }]
}) if data.user }}